@model SBLibrary.Data.Models.Domain.Book

@{
    ViewBag.Title = "GetBook";
}

<h2>Book Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditBook", new { id = Model.BookID, controller = "Book" }) |
    @Html.ActionLink("Back to List", "GetBooks", new { id = Model.BookID, controller = "Book" }))
</p>
