@model IEnumerable<SBLibrary.Data.Models.Domain.Book>

@{ ViewBag.Title = "GetBooks";
   Layout = "~/Views/Shared/_BookLayout.cshtml"; 
}
<h2>Book List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBook", new { id = item.BookID }) |
                @Html.ActionLink("Details", "GetBook", new { id = item.BookID, controller = "Account" }) |
                @Html.ActionLink("Delete", "DelBook", new { id = item.BookID })
            </td>
        </tr>
    }

</table>
