@model IEnumerable<SBLibrary.Data.Models.Domain.Book>

@{ ViewBag.Title = "GetBooks";
   Layout = "~/Views/Shared/_BookLayout.cshtml"; 
}
<h2>Book List</h2>

<p class="navbar-right"><b>
    @Html.ActionLink("Add Book", "Create")
</b></p><br />

<p>
    @*generate a form tag using a get request, so for that we need
        begainform tag, to get an open and close form use using (Html.*@
    @using (Html.BeginForm())
    {
    <b>Search By:</b> @Html.RadioButton("searchBy", "Title") <text>Title</text>
    @Html.RadioButton("searchBy", "Author") <text>Author</text><br />
    @Html.TextBox("Search") <input type="submit" value="Search" />
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBook", new { id = item.BookID }) |
                @Html.ActionLink("Details", "GetBook", new { id = item.BookID, controller = "Account" }) |
                @Html.ActionLink("Delete", "DelBook", new { id = item.BookID })
            </td>
        </tr>
    }

</table>
